@font-face{
font-family: 'Gilroy-Black';
src: url('../fonts/Gilroy-Black_0.otf');
src: url('../fonts/Gilroy-Black_0.otf?iefix') format('otf');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'Gilroy-Black';
src: url('../fonts/Gilroy-BlackItalic_0.otf');
src: url('../fonts/Gilroy-BlackItalic_0.otf?iefix') format('otf');
font-weight: normal;
font-style: italic;
}
@font-face{
font-family: 'Gotham-Pro';
src: url('../fonts/GothaProBol.otf');
src: url('../fonts/GothaProBol.otf?iefix') format('otf');
font-weight: normal;
font-style: bold;
}
body {
	font-family: 'Gilroy-Black', sans-serif;
	color: #5c6369;
}
h4{
color: #000000;
font-family: 'Gotham-Pro', sans-serif;
font-size: 20px;
font-weight: 800;
line-height: 28px;
text-align: center;
}
h3{
margin-top: 30px;
color: #000000;
font-family: 'Gotham-Pro', sans-serif;
font-size: 30px;
font-weight: 800;
text-transform: uppercase;
}
li{
  color: #000;
}

p{
color: #000000;
font-family: 'Gilroy-Black', sans-serif
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 20px;
}
span{
background: #5ab134;
padding: 0px 10px;
margin: 0; 
border-radius: 50px;
line-height: 18.75px;	
}
.btn {
  margin-top: 30px;
  margin-bottom: 127px;
  text-decoration: none;
  background: none;
  font-size: 18px;
  color: #000000;
  border: 2px solid #5ab134;
  padding: 18px 28px;
}
.btn:hover {
  background: #5ab134;
  color: white;
}
.header{
	background-image: url(../img/bg-11.png);
	background-repeat: no-repeat;
  background-position: top center;
}
.header h1{
margin-top: 30px;
color: #000000;
font-family: 'Gotham-Pro', sans-serif;
font-size: 50px;

font-weight: 800;
text-transform: uppercase;
}
.header span{
background: #5ab134;
padding: 0px 20px;
margin: 0; 
border-radius: 50px;
line-height: 78.75px;	
}
.header p{
color: #000000;
font-family: 'Gilroy-Black', sans-serif;
font-size: 20px;
margin-top: 20px;
font-weight: 400;
}
.header .btn {
  background: #5ab134;
  color:#fff;
}
.header .btn:hover {
  background: none;
  color:#000;
}
.nav-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.nav-bar {
    width: 100%;
}
.nav-bar .btn {
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  background: none;
  font-size: 16px;
  color: #000000;
  border: 2px solid #5ab134;
  padding: 18px 28px;
}
.nav-bar .btn:hover {
  background: #5ab134;
  color: white;
}
.nav-container {
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 50px;
}

.nav-logo {
    float: left;
    display: block;
    color: rgb(222, 221, 225);
    font-weight: 600;
}

.nav-logo:hover {
    color: rgb(148, 147, 150);
}

.nav-list {
    float: right;
  list-style:none;
}

.nav-list li {
    float: left;
    padding-left: 30px;
}

.nav-list li a {
    display: block;
    color: #000000;
	font-family: 'Gilroy-Black', sans-serif;
	font-size: 14px;
	font-weight: 500;
}

.nav-list li a:hover {
    color: rgb(148, 147, 150);
}
.nav-list .one{
color: #2299ca;
font-family: 'Gotham-Pro', sans-serif;
font-size: 15px;
font-weight: 400;
text-decoration: underline;
margin-top: auto;
margin-bottom: auto;
}
.nav-list .two{
color: #5ab134;
font-family: 'Gotham-Pro', sans-serif;
font-size: 15px;
font-weight: 400;
text-decoration: underline;
}

.nav-menu{
  display: none;
}

/*SOLUTION*/
.solution{
	background-color: #fbfbfb;
}
/*benefit*/
.benefit{
	background-color: #fff;
}
.benefit span{
line-height: 18.75px;	
}
.benefit h4{
font-size: 20px;
text-align: center;
}
.benefit p{
font-weight: 700;
text-align: center;
}
/*HOW_WORK*/
.how_work{
  background-color: #fbfbfb;
}
/*PRICE*/
.price{
	background-color: #fff;
}
.price__tarif{
border-radius: 4px;
background-color: #f9f9f9;
padding: 20px 30px;
margin-bottom: 30px;
}
.price ul{
list-style-type: none;
text-align: left;
padding: 0;
margin: 0;
}
.price .btn {
  width: 90%;
  background-color: none;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px 10px;
}

/*WASTE*/
.waste{
background: #fbfbfb url(../img/bg-2.png) no-repeat;
background-position: center;
}
.waste li{
  border-bottom: 1px dotted #000;
}
.waste h4{
  text-align: left;
}
/*CONNECTION STEPS*/
.connect{
  background-color: #fff;
}
.connect .btn{
  margin:0;
  padding: 5px 25px;
  }

/*ОТЗЫВЫ*/
.reviews{

}
#map{
  width: 100%;
  height: 500px;
}
.reviews span{
background: #5ab134; 
}
.swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
.swiper-slide {
background-position: center;
background-size: cover;
background-color: rgba(0,0,0,0.0);
width: 100%;
height: 300px;
padding-left: 15px;
}

.swiper-slide h2{
color: #000;
font-family: Roboto;
font-size: 20px;
font-weight: 700;
text-align: left;
margin-left: 25px;
text-transform: unset;
}
.swiper-slide p{
color: #000;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
text-align: left;
margin-top: 15px;
margin-left: 25px;
}
/*FOOTER*/
.footer{
	background-color: #302e2e;
	font-family: 'Gilroy-Black', sans-serif
	color: #fff;
}
.footer p{
	color: #fff;
	margin: 25px 10px;
}
.footer img{
margin: 20px 10px;
}
.footer__soc{
	text-align: right;
	align-items: right;
}
.footer__cop{
	text-align: left;
}
.widjet{
display: block;
z-index:1000;
position:fixed;
right:0;
top:0;
}
.widjet__body{
width:100%;
max-width: 400px;
padding: 10px;
height:300px;
position:fixed;
background-color:#fbfbfb;
right:16%;
top:50%;
margin-right:-200px;
margin-top:-170px;
border: 3px solid #5ab134;
box-shadow: 0 0 10px #5ab134;
}
.widjet__body .btns{
  margin:0;
  padding: 5px 25px;
  margin-bottom: 127px;
  text-decoration: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: #000000;
  border: 2px solid #5ab134;
}
.widjet__body .btns:hover {
  background: #5ab134;
  color: white;
}
#widjet__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #fff;
    cursor: pointer;
    opacity: .8;
}
.form-control {
	display: block;
    width: 100%;
    margin-right: 10px;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f3f3f3;
    background-clip: padding-box;
    border: 1px solid #f3f3f3;
    border-radius: 0px;
}
.lb-number, .modal-content span{
	background: none;
}

@media screen and (max-width: 1200px){
	.header h1{
		font-size: 55px;
	}
  .widjet{
display: none;
}
	.header span{
	line-height: 88.75px;
}
.nav-menu{
    color: rgb(222, 221, 225);
    float: right;
    display: block;
    padding: 10px 10px;
    cursor: pointer;
}

.nav-list{
float: right; 
width: 100%;
overflow: hidden;
height: 0;

}

.nav-open{ height: auto; 
}

.nav-list li {
    width: 100%;
    background-color: #fff;
    opacity: 0.7; 
    padding: 10px 10px;
    border: 1px solid grey;
}
.nav-list li:hover {
    background-color: grey;
}
.nav-list li a:hover {
    border-bottom: 0; 
}
}
@media screen and (max-width: 1000px){
.footer__soc{
	text-align: center;
}
.footer__cop{
	text-align: center;
}
.footer p{
	text-align: center;
}
}
@media screen and (max-width: 768px){
.header h1{
		font-size: 45px;
	}
.header .btn {
  font-size: 14px;
  padding: 12px 18px;
}
.header span{
	line-height: 78.75px;
}
	}
	@media screen and (max-width: 480px){
.header h1{
		font-size: 35px;
	}
.header span{
	line-height: 60.75px;
	}

	h4 {
    font-size: 17px;
}
  h3 {
    font-size: 20px;
}
}
